/*Global*/
    /*Color palette:
            background color: very light grey rgb(230, 230, 230)
            primary text: very dark grey (messages, channels) rgb(63, 63, 63)
            primary color: bright orange (app bar) rgb(255, 115, 13)
            primary color text: black (app bar) rgb(0, 0, 0)
            accent color: blue grey (bttons) rgb(55, 71, 79)
            accent color text: white (buttons) rgb(255, 255, 255)
    */
        *{
            background-color: rgb(230, 230, 230);
            font-family: Arial, sans-serif;
            margin: 0px;
            padding: 0px;
        }
        
/*App bar*/
h1, small{
    background-color: rgb(255, 115, 13);
    color: rgb(0, 0, 0);
}
small{
    text-transform: uppercase;
}

/*Channel List*/
ul{
    list-style-type: none;
    background-color: rgb(250, 250, 250);
    font-size: 16px;
}

li{
    background-color: rgb(250, 250, 250);
    color: rgb(63, 63, 63);
    padding: 16px;
}

/*Tab bar*/
#tab-bar {
    background-color: rgb(255, 255, 255);
    color: rgb(63, 63, 63);
    text-align: center;
}
#tab-bar button{
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 13px;
    height: 72px;
    width: 30%;
    margin: 16px;
    white-space: nowrap;
    border: 0 none white;
}
#tab-bar div {
    background-color: rgb(255, 255, 255);
}

/*Messages*/
.chat-messages h3{
    color: rgb(0, 0, 0);
    font-size: medium;
}
.chat-messages a{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
.chat-messages em{
    font-size: larger;
    font-style: normal;
}
.chat-messages div{
    background-color: rgb(255, 255, 255);
    color: rgb(63, 63, 63);
    width: 80%;
    padding: 16px;
}
.chat-messages button{
    background-color: rgb(55, 71, 79);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.my-messages {
    padding: 16px;
    margin-bottom: 8px;
    margin-left: 17.5%;
}
.other-messages {
    text-align: left;
    margin-bottom: 8xp;
    margin-left: 2.5%;
}
 